* {
    margin: 0;
    padding: 0;
}

p {
    padding: 15px 0;
}

p:last-child {
    padding-top: 15px;
    padding-bottom: 0px;
}

h1, h2, h3 {
    line-height: 1.2;
}

ul {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

a:link {
    color: #222;
}

a:visited {
    color: #666;
}

a:hover, a:visited {
    text-decoration: underline;
}

#header {
    background-color: rgba(238, 237, 231, 0.2); /* #EEEDE7; */
}

#sec1 {
    background-color:  rgba(231, 210, 204, 0.3); /* #E7D2CC; */
}

#sec2 {
    background-color: rgba(185, 183, 189, 0.4); /* #B9B7BD; */
}

#footer {
    background-color: rgba(134, 139, 142, 0.5); /* #868B8E; */ 
    text-align: center;
}

.content {
    margin: 0px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 16pt;
    color: #333;
    padding: 15px 0;
}

/* Flex */

.row {
    display: flex;
    column-gap: 0.85rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .content {
        width: 80%;
    }

    .column {
        flex: auto;
    }
}